
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
body {
	font-family: "Poppins", sans-serif;
	background:url('../images/bg.jpg') top no-repeat; background-size: cover; background-attachment: fixed;
	overflow-x: hidden;
}

#wrapper {
	width: 100%;
}

#page-wrapper {
	position: inherit;
	padding: 0 15px;
	min-height: 568px;
	background-color: #fff;
}

@media (min-width :768px) {
	#page-wrapper {
		position: inherit;
		margin: 0 0 0 0px;
		padding: 0 30px;
		border-left: 1px solid #e7e7e7;
	}
}

.navbar-top-links {
	margin-right: 0;
}

.navbar-top-links li {
	display: inline-block;
}

.navbar-top-links li:last-child {
	margin-right: 15px;
}

.navbar-top-links li a {
	padding: 15px;
	min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
	display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
	margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
	padding: 3px 20px;
	min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
	white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
	width: 310px;
	min-width: 0;
}

.navbar-top-links .dropdown-messages {
	margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
	margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
	margin-left: -123px;
}

.navbar-top-links .dropdown-user {
	right: 0;
	left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
	padding-right: 0;
	padding-left: 0;
}

.sidebar .sidebar-search {
	padding: 15px;
}

.sidebar ul li {
	border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
	background-color: #eee;
}

.sidebar .arrow {
	float: right;
}

.sidebar .fa.arrow:before {
	content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
	content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
	border-bottom: 0 !important;
}

.sidebar .nav-second-level li a {
	padding-left: 37px;
}

.sidebar .nav-third-level li a {
	padding-left: 52px;
}

@media (min-width :768px) {
	.sidebar {
		z-index: 1;
		position: absolute;
		width: 100%;
	}

	.navbar-top-links .dropdown-messages,
	.navbar-top-links .dropdown-tasks,
	.navbar-top-links .dropdown-alerts {
		margin-left: auto;
	}
}

.btn-outline {
	color: inherit;
	background-color: transparent;
	transition: all .5s;
}

.btn-primary.btn-outline {
	color: #428bca;
}

.btn-success.btn-outline {
	color: #5cb85c;
}

.btn-info.btn-outline {
	color: #5bc0de;
}

.btn-warning.btn-outline {
	color: #f0ad4e;
}

.btn-danger.btn-outline {
	color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
	color: #fff;
}

.chat {
	margin: 0;
	padding: 0;
	list-style: none;
}

.chat li {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
	margin-left: 60px;
}

.chat li.right .chat-body {
	margin-right: 60px;
}

.chat li .chat-body p {
	margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
	margin-right: 5px;
}

.chat-panel .panel-body {
	height: 350px;
	overflow-y: scroll;
}

.login-panel {
	margin-top: 5%;
}

.login-main {
	margin-top: 2%;
}

/*.login-header {
	background-color: #eee !important;
}*/

.flot-chart {
	display: block;
	height: 400px;
}

.flot-chart-content {
	width: 100%;
	height: 100%;
}

.dataTables_wrapper {
	position: relative;
	clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
	background: 0 0;
}

table.dataTable thead .sorting_asc:after {
	content: "\f0de";
	float: right;
	font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
	content: "\f0dd";
	float: right;
	font-family: fontawesome;
}

table.dataTable thead .sorting:after {
	content: "\f0dc";
	float: right;
	font-family: fontawesome;
	color: rgba(50, 50, 50, .5);
}

.btn-circle {
	width: 30px;
	height: 30px;
	padding: 6px 0;
	border-radius: 15px;
	text-align: center;
	font-size: 12px;
	line-height: 1.428571429;
}

.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	border-radius: 25px;
	font-size: 18px;
	line-height: 1.33;
}

.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	border-radius: 35px;
	font-size: 24px;
	line-height: 1.33;
}

.show-grid [class^=col-] {
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #ddd;
	background-color: #eee !important;
}

.show-grid {
	margin: 15px 0;
}

.huge {
	font-size: 40px;
}

.panel-green {
	border-color: #5cb85c;
}

.panel-green .panel-heading {
	border-color: #5cb85c;
	color: #fff;
	background-color: #5cb85c;
}

.login-panel .login-title {
	background-color: #66A5AD;
	color: white
}

.login-panel .login-btn {
	background-color: #66A5AD;
	color: white
}

.login-heading {
	background-color: #66A5AD;
	height: 30px
}

.panel-green a {
	color: #5cb85c;
}

.panel-green a:hover {
	color: #3d8b3d;
}

.panel-red {
	border-color: #66A5AD;
}

.panel-red .panel-heading {
	border-color: #66A5AD;
	color: #fff;
	background-color: #66A5AD;
}

.panel-red a {
	color: #66A5AD;
}

.panel-red a:hover {
	color: #66A5AD;
}

.panel-yellow {
	border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
	border-color: #f0ad4e;
	color: #fff;
	background-color: #f0ad4e;
}

.panel-yellow a {
	color: #f0ad4e;
}

.panel-yellow a:hover {
	color: #df8a13;
}

.padding-10 {
	padding: 10px !important;
}

.noPadding {
	padding: 0px !important;
}

.floatRight {
	float: right !important;
}

.floatLeft {
	float: left !important;
}

.pointer {
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

.menuLink {
	margin-top: 11px;
	margin-right: -15px;
	margin-left: 25px;

}

.usmImage {
	width: 50px !important;
	height: 50px !important;
}

.loginImage {
	width: 1000px !important;
	height: 112px !important;
}

.wid-50 {
	width: 50% !important;
}

.usmHeader {
	font-size: 18px;
	line-height: 48px;
	margin-left: 10px;
	/*color: #c64a30;*/
	font-weight: bold;
}

.margin-left-10 {
	margin-left: 10px !important;
}

.margin-top-8 {
	margin-top: 8px !important;
}

.line-height-30 {
	line-height: 30px;
}

.panel-heading {
	padding: 4px 0px;
}

a {
	color: #66A5AD;
}


a:focus,
a:hover {

	color: #8e3320;

}


.login-header {
	text-align: center;

}

.login-header h2 {
	color: #1e5799; font-size: 1.15rem
	}


.form-control:focus {
	border-color: #1e5799;
	box-shadow: 0 0 0 0.2rem rgba(30, 87, 153, 0.25);
}


.captcha-image {
	width: max-content;
	height: 50px;
	background-color: #f0f0f0;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-family: 'Courier New', monospace;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 5px;
	color: #333;
}

.captcha-refresh {
	cursor: pointer;
	margin-left: 15px;
	color: #1e5799;
	font-size: 20px;
	transition: transform 0.3s;
}

.captcha-refresh:hover {
	transform: rotate(90deg);
}

.login-btn {

background: #785c48;
	border: none;
	height: 50px;
	font-size: 16px;
	font-weight: 600;
	border-radius: 50px;
	margin-top: 10px;
	transition: background-color 0.3s;
	width: 100%;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.login-btn:hover {
	background-color: #623b14;
	color: white;
}

.error-message {
	color: #d9534f;
	font-size: 14px;
	margin-top: 5px;
	display: none;
}

.loading-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
	display: none;
}

.loading-content {
	background-color: white;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	text-align: center;
	max-width: 350px;
	width: 90%;
}

.loading-content i {
	color: #1e5799;
	margin-bottom: 15px;
}

.loading-content p {
	color: #333;
	font-weight: 500;
}
	
.language-box {
 
    padding: 8px 15px;
    border-radius: 5px;

}

.language-box select {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
}


#selectLanguage {
	border-radius: 5px;
	width: 150px;
	height: 35px;
	font-size: 13px;
	padding: 5px;
	background: rgba(255, 255, 255, 0.8);
}

.language-box span {
	font-size: 18px;
	/* Language label visible */

	/* dropdown aur label ke bich space */
}


@keyframes rotate-infinite {
	from {
		transform: rotate(0deg);
		/* Start at 0 degrees */
	}

	to {
		transform: rotate(360deg);
		/* End at 360 degrees (one full rotation) */
	}
}


.login-header p {
	color: #666;
	font-size: 0.9rem;
}


.loginbox {
	border-radius: 40px;
	border: 7px solid #ffffff;
	background: rgba(255, 255, 255, 0.8);
}

.loginbox .animated-text h1 {
	display: block;
	text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
	background: url(../images/animated-text-3.png) repeat-y;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: aitf 80s linear infinite;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	margin-bottom: 30px;
	font-size: 1.38rem;
	color: #785c48; height: max-content;
}

@-webkit-keyframes aitf {
	0% {
		background-position: 0% 50%;
	}

	100% {
		background-position: 100% 50%;
	}
}

.form-group i {
	top: 0;
	right: 0;
	background: #5d8dfa;
	width: 40px;
	height: 40px;
	color: #ffffff;
	font-size: 18px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.form-control {
	border-radius: 5px;
	border: 1px solid #ddd;
	padding: .545rem .75rem;
	font-size: 0.9rem;
	transition: all 0.3s;
}

.form-group input:focus {
	outline: 0;
	border: 0;
	box-shadow: none;
}

.captcha-image {
	
	
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ddd;
	
	font-family: 'Courier New', monospace;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 5px;
	color: #333;
}

.login-btn {

background: #785c48;
	border: none;
	height: 50px;
	font-size: 16px;
	font-weight: 600;
	border-radius: 50px;
	margin-top: 10px;
	transition: background-color 0.3s;
	width: 100%;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.login-btn:hover {
	background-color: #623b14;
	color: white;
}

.error-message {
	color: #d9534f;
	font-size: 14px;
	margin-top: 5px;
	display: none;
}

.loading-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
	display: none;
}

.loading-content {
	background-color: white;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	text-align: center;
	max-width: 350px;
	width: 90%;
}

.loading-content i {
	color: #1e5799;
	margin-bottom: 15px;
}

.loading-content p {
	color: #333;
	font-weight: 500;
}
	
.language-box {
 
    padding: 8px 15px;
    border-radius: 5px;

}

.language-box select {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
}


#selectLanguage {
	border-radius: 5px;
	width: 150px;
	height: 35px;
	font-size: 13px;
	padding: 5px;

}

.language-box span {
	font-size: 18px;
}


.login-header p {
	color: #4e4b4b;
	font-size: 0.9rem;
}


.loginbox {
    border-radius: 6px;
}

.loginbox  h2 {

    font-size: 1.12rem;
    font-weight: 400;
    color: #040404;
}

.loginbox  .btn-section {
    margin-bottom: 17px;
    display: inline-block;
}
.loginbox  .btn-section .active-bg {
    color: #0060ff;
}

.loginbox  .btn-section .link-btn {
    font-size: 15px;
    float: left;
    background: #f5f5f5;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    text-decoration: blink;
    line-height: 40px;
    width: 110px;
    color: #535353;

    text-transform: uppercase;
}

.loginbox  .btn-section .btn-1 {
    border-radius: 0;
    border-right: solid 1px #e6e6e6;
}

.form-group i {
	top: 0;
	right: 0;

	width: 40px;
	height: 40px;
	color: #ffffff;
	font-size: 20px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.form-control {
	border-radius: 5px;
	border: 1px solid #ddd;
	padding: .545rem .75rem;
	font-size: 0.9rem;
	transition: all 0.3s;
}

.form-group input:focus {
	outline: 0;
	border: 0;
	box-shadow: none;
}

.loginbox .btn-primary {
    background: #0060ff;
}

.loginbox .btn-theme {
    position: relative;
    display: inline-block;
    float: left;
    color: #ffffff;
    overflow: hidden;
    overflow: hidden;
    text-transform: capitalize;
    display: inline-block;
    transition: all 0.3s 
ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s 
ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    cursor: pointer;
    font-size: 17px;
    font-weight: 400;
      border-radius: 3px;
}

.loginbox .btn-theme {
    border: none;
}

.logo h1 {
    font-size: 15px;
}

.saqsham-text {
    right: 30px;
    top: 20%;
    text-orientation: upright;
    writing-mode: vertical-lr;
    font-size: 45px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.3);
}

.latestnews h2 {
    flex-shrink: 0;
}

footer {
    background: #2b2a33;
    z-index: 999999;
    color: #ffffff;
}

.latestnews h2 {
    flex-shrink: 0;
	width: max-content;
    font-size: 1rem;
}

.logos img {background: #ffffff;
    border-radius: 3px;
    width: 70px;
    height: fit-content;
    padding:3px;}


	.latestnews h2 {
    flex-shrink: 0;
}
#latestnews  .ticker-wrapper {
   font-size: 13px;
      overflow: hidden;
      white-space: nowrap;
        }

#latestnews    .ticker {
      display: inline-block;
      padding-left: 100%;
      animation: ticker 25s linear infinite;
    }

   #latestnews .ticker span {
      margin-right: 50px;
      display: inline-block;
    }

    /* Pause on hover */
     #latestnews .ticker-wrapper:hover .ticker {
      animation-play-state: paused;
    }

    @keyframes ticker {
      0%   { transform: translateX(0%); }
      100% { transform: translateX(-100%); }
    }

	.loginbox .btn-theme {
    position: relative;
    display: inline-block;
    float: left;
    color: #ffffff;
    overflow: hidden;
    overflow: hidden;
    text-transform: capitalize;
    display: inline-block;
    transition: all 0.3s 
ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s 
ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    cursor: pointer;
    font-size: 17px;
    font-weight: 400;
    border-radius: 3px;
}
.loginbox .btn-primary {
    background: #0060ff;
}

.punchline-header { font-size: 1.5rem; color: rgba(255, 255, 255, 0.9);}
.punchline {color: rgba(255, 255, 255, 1);font-size: 1.2rem;}

.carousel-caption{ left: 0;}
.carousel-caption h5{font-size: 1.48rem;color: rgba(255, 255, 255, 1); font-weight: 700; }

.carousel-caption h4{font-size: 1rem;color: rgba(255, 255, 255, 1); }
.carousel-caption p{font-size: 0.98rem; }
.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(145deg, #2b2b2b, #000); /* 3D shading */
    border: 1px solid #111; 
    opacity: 0.8;
    box-shadow: inset 1px 1px 1px rgba(255,255,255,0.25),
                inset -1px -1px 2px rgba(0,0,0,0.5); /* 3D depth */
    transition: all 0.2s ease;
}

.carousel-indicators [data-bs-target]:hover {
    opacity: 1;
    transform: scale(1.1);
}

.carousel-indicators .active {
    background: linear-gradient(145deg, #ffffff, #dcdcdc); /* white 3D */
    border: 1px solid #ccc;
    opacity: 1;
    box-shadow: inset 1px 1px 2px rgba(255,255,255,0.4)}

.carousel-indicators  { bottom:-10%;}
 
