@charset "UTF-8";

/* Global default */
html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  overflow-x: hidden; max-height: 100vh;
  padding-right: 0 !important;
  background-color: #fff6ee;
  background: url('../images/line-bg-black.png') no-repeat, linear-gradient(180deg,rgb(253, 253, 252) 0%, rgb(255, 251, 247) 19%, rgb(255, 251, 247) 39%, rgb(255, 245, 236) 74%, rgb(255, 251, 247) 89%, rgba(252, 247, 242, 1) 100%);;



}



*:-moz-full-screen,
*:-webkit-full-screen,
*:fullscreen *:-ms-fullscreen {
  overflow: auto;
}

.logo h1 { font-size: 15px;}
#rightarea {
    /* background: linear-gradient(180deg, #236F66, #2A9D8F, #5DC2AE);} */
/* background: #C88870;
background: linear-gradient(180deg,rgba(200, 136, 112, 1) 0%, rgba(196, 131, 108, 1) 19%, rgba(210, 122, 88, 1) 39%, rgba(208, 99, 56, 1) 74%, rgba(210, 117, 80, 1) 89%, rgba(191, 84, 41, 1) 100%); */
background: #F29653; overflow: hidden;
background: linear-gradient(180deg,rgb(255, 151, 76) 0%, rgba(241, 147, 83, 1) 19%, rgba(236, 124, 69, 1) 39%, rgba(206, 77, 43, 1) 74%, rgba(185, 54, 32, 1) 89%, rgba(128, 46, 28, 1) 100%);
}
.punchlines { margin-left: -80px; overflow: hidden; margin-top: -40px;}
.punchlines .punchline { background: url('../images/punchline-bg.png') repeat top center; color: rgba(0,0,0,0.75);   font-size: clamp(0.8rem, 1.5vw, 1rem)}

.loginbox .forgot-password {
    font-size: 16px;
    color: #535353;
    float: right;
    line-height: 50px;
}

.loginbtn {background: linear-gradient(135deg, #ED7216, #D46612);}
.saqsham-text {    right: 30px;
    top: 20%;
    text-orientation: upright;
    writing-mode: vertical-lr;
    font-size: 45px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.3);}

footer {    background:#2b2a33;
    z-index: 999999;
    color: #ffffff;
}

.captcha-refresh {
	cursor: pointer;
	color: #1e5799;
	font-size:30px;
	transition: transform 0.3s;
}

.captcha-refresh:hover {
	transform: rotate(90deg);
}
.latestnews h2 {
    flex-shrink: 0;
}
#latestnews  .ticker-wrapper {
   font-size: 13px;
      overflow: hidden;
      white-space: nowrap;
        }

#latestnews    .ticker {
      display: inline-block;
      padding-left: 100%;
      animation: ticker 25s linear infinite;
    }

   #latestnews .ticker span {
      margin-right: 50px;
      display: inline-block;
    }

    /* Pause on hover */
     #latestnews .ticker-wrapper:hover .ticker {
      animation-play-state: paused;
    }

    @keyframes ticker {
      0%   { transform: translateX(0%); }
      100% { transform: translateX(-100%); }
    }