@media (min-width:1500px) and (max-width:1800px) {
    .navbar-nav .nav-item>a span {
        font-size: 24px;
   
    }

}

@media (min-width:1280px) and (max-width:1450px) {
    .owl-prev {
        right: 30px;
        top: 42%;
    }

    .shareSocial.call {
        top: 37%;
    }

    .loginbuttton {

        line-height: 15px;
        padding: 3px 11px;
        max-height: 40px;

    }

    .logo h1 {
        font-size: 14px;
        line-height: 16px;
    }

}

@media (min-width:1200px) and (max-width:1280px) {

    .navbar-nav .nav-item>a {
        color: rgba(0, 0, 0, 0.75);
        font-weight: 500;
        font-size: 0.75rem;
        padding: 0px 14px;

    }


    .logo h1 {
        font-size: 13px;
        line-height: 17px;
    }

    header .all-logins a {
        font-size: 11px;
    }

    .shareSocial.mail {
        top: 20%;

    }

    .shareSocial.call {
        top: 26%;

    }

    .header-carousel .header-carousel-item .carousel-caption.ministerdetails.modiji {
        top: 34%;
    }
}

/* @media (min-width: 992px) {

    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
      
     }
} */

@media (min-width:992px) and (max-width:1200px) {

    .navbar-nav .nav-item>a {
        color: rgba(0, 0, 0, 0.75);
        font-weight: 500;
        font-size: 0.71rem;
        padding: 0px 6px !important;
    }

    .logo h1 {
        font-size: 0.68rem;
    }

    .logo h2 {
        font-size: 11px;
    }

    .logo h3 {
        font-size: 11px;
    }

    .loginbuttton {

        padding: 0 6px;
        font-size: 11px;
    }

    p {
        font-size: 11px;
    }

    header .all-logins a {
        line-height: 17px;
        font-size: 11px;
    }

    #topbar .language select {
        padding: 2px 25px 3px 6px;
    }

    .footer-links a {
        font-size: 13px;
    }

}

@media (max-width: 991px) {}


@media (max-width: 768px) {}

@media (max-width: 500px) {}



@media (min-width: 1200px) {}


@media (min-width: 1400px) {}