@media (max-width:1500px) {
   
}

@media (min-width:1200px) and (max-width:1400px) {



}

@media (min-width:1199px) and (max-width:1366px) 
{
    .chakrapage .tabs .nav-tabs .nav-link {
    font-size: 0.818rem;
    padding: 7px 4px;
}}

@media (min-width:991px) and (max-width:1199px) {



}


@media (min-width:767px) and (max-width:991px) {

}

@media (max-width:767px) {
 .box{ border: 1px solid #efefef !important; margin-bottom: 10px ;}
   .chakrapage .tab-pane>h2 {   font-size: 1.2rem; }}

@media (min-width:577px) and (max-width:633px) {
 

}

@media (min-width:500px) and (max-width:576px) {
    .box{ border: 1px solid #efefef !important; margin-bottom: 10px ;}
}

@media (min-width:300px) and (max-width:499px) {

    .box{ border: 1px solid #efefef !important; margin-bottom: 10px ;}

  
}