@media (min-width:1500px) and (max-width:1800px) {
    ul.ruby-menu > li > a {
        display: block;
        color: rgba(0, 0, 0, 0.75);
        line-height: 35px;
        padding: 0 25px;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
    }


}

@media (min-width:1366px) and (max-width:1499px) {  ul.pdflist .pdfname a {
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.85rem;}}




@media (min-width:1200px) and (max-width:1280px) {

 ul.pdflist .pdfname a {
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.8rem;}
   

    ul.ruby-menu > li > a {
        display: block;
        color: rgba(0, 0, 0, 0.75);
        line-height: 35px;
        padding: 0 15px }

        .logo h1 {
            font-size: 13px;
            line-height: 17px;
        }
}


@media (min-width:992px) and (max-width:1200px) { 


}
@media (max-width: 991px) {


}


@media (max-width: 768px) {
 

}

@media (max-width: 500px) {

    

}



@media (min-width: 1200px) {}


@media (min-width: 1400px) {}